.form {
  margin: 0 auto 2.5rem auto;
  max-width: 320px;
  width: 100%;

  &__group {
    margin-bottom: 2rem;
    position: relative;
    text-align: left;

    &.checkbox {
      align-items: center;
      display: flex;
      gap: .3rem;
      font-family: var(--font-bold);

      input.checkbox {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--form-background);
        border: 0.15em solid var(--color-secondary);
        border-radius: 0.15em;
        color: var(--color-main);
        display: grid;
        font: inherit;
        height: 1.15em;
        margin: 0;
        place-content: center;
        transform: translateY(-0.075em);
        width: 1.15em;

        &::before {
          background-color: var(--color-secondary);
          box-shadow: inset 1em 1em var(--form-control-color);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          content: "";
          height: 0.65em;
          transform: scale(0);
          transform-origin: bottom left;
          transition: 120ms transform ease-in-out;
          width: 0.65em;
        }

        &:checked::before {
          transform: scale(1);
        }

        &--rounded {
          border-radius: 50%;
          height: 19px;
          width: 23px;
        }

      }

      label {
        font-size: .7rem;
      }
    }
  }

  &__input {
    appearance: none;
    background-color: var(--color-level0);
    border-radius: .3rem;
    border: 1px solid var(--color-lines_disabled);
    font-family: var(--font-normal);
    font-size: 1.2rem;
    padding: .8rem;
    width: calc(100% - 1.6rem);

    &::placeholder {
      color: var(--color-lines_disabled);
    }

    &:focus {
      box-shadow: var(--shadow);
      outline: none;
    }

    &-group {
      position: relative;
    }
  }

  &__select {
    background-color: var(--color-level0);
    border-radius: 1.5rem;
    border: 1px solid var(--color-lines_disabled);
    color: var(--color-secondary);
    font-family: var(--font-bold);
    font-size: 1rem;
    padding: 1rem .8rem;
    position: relative;
    width: calc(100% - 1.6rem);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-secondary);
    }
  }

  select {
    width: 100%;
  }

  &__eye {
    cursor: pointer;
    display: block;
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__button {
    appearance: none;
    border: none;
    border-radius: 1.7rem;
    background-color: var(--color-secondary);
    color: #ffffff;
    cursor: pointer;
    font-family: var(--font-bold);
    font-size: 1.3rem;
    margin-top: 3rem;
    padding: .8rem 0;
    width: 100%;

    &:disabled {
      color: var(--color-lines_disabled);
      cursor: no-drop;
      opacity: 0.5;
    }
  }

  &__error {
    color: var(--color-danger);
    font-size: 1rem;
    margin: .3rem 0 -1rem 0;
  }

  &__link {
    color: var(--color-secondary);
    display: block;
    text-align: right;
    width: 100%;

    &.reset-password {
      margin-top: -1.5rem;
    }
  }
}