.login {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  padding: 2rem 0;
  place-content: center center;
  text-align: center;

  &.sign-up {
    background-color: var(--color-level1);
  }

  &__logo {
    margin-bottom: 3rem;

    img {
      vertical-align: middle;
    }
  }

  &__title {
    color: var(--color-secondary);
    font-size: 1.6rem;
    margin: 0 0 1.3rem 0;
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-lines_disabled);
    margin: 1.5rem 0;
  }

  &__signup-text {
    font-family: var(--font-bold);
    font-size: 1.15rem;
    margin: 0;
  }

  &__link {
    color: var(--color-secondary);
  }
}